<app-sidebar></app-sidebar>

<div class="dashboard-container">
    <header class="dashboard-header">
        <h1>Panel del Administrador</h1>
        <p>Bienvenido. Aquí puedes gestionar todas las operaciones del sistema.</p>
    </header>

    <div class="cards-grid">
        <!-- Card Libros -->
        <div class="card">
            <div class="card-icon">
                <img src="assets/biblioIMG/crud.png" alt="a">
            </div>
            <h2>Logs</h2>
            <p>Gestión de logs. Te permitirá visualizar los cambios que realizen otros administradores y empelados sobre
                los libros, usuarios o prestamos de nuestra biblioteca.</p>
        </div>

        <div class="card">
            <div class="card-icon">
                <img src="assets/biblioIMG/estadistica.png" alt="a">
            </div>
            <h2>Estadistica</h2>
            <p>Visualización de estadísticas sobre los libros más populares y clientes registrados en el mes. </p>
        </div>
    </div>
</div>