<app-sidebar></app-sidebar>

<div class="container mt-4">
    <!-- Header Section with Title and Add Button -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-dark fw-bold">Gestión de Empleados</h2>
        <button class="btn btn-primary-custom" data-bs-toggle="modal" data-bs-target="#userModal"
            (click)="abrirModalRegistro()">
            <i class="bi bi-person-plus-fill me-2"></i>Registrar Empleado
        </button>
    </div>

    <!-- Tabla de Usuarios -->
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0"><i class="bi bi-people-fill me-2"></i>Lista de Empleados</h5>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th class="ps-4">Nombre</th>
                            <th>Apellido</th>
                            <th>Cédula</th>
                            <th>tipo Sangre</th>
                            <th>Seguro Medico</th>
                            <th>Correo</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of listaEmpleados">
                            <td class="ps-4 fw-bold">{{ employee.nombre }}</td>
                            <td>{{ employee.apellido }}</td>
                            <td>{{ employee.cedula }}</td>
                            <td>{{ employee.tipoSangre}}</td>
                            <td>{{ employee.seguroMedico}}</td>
                            <td>{{ employee.correo }}</td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-info btn-action me-2 text-white" data-bs-toggle="modal"
                                    data-bs-target="#userModal" (click)="seleccionarEmpleado(employee)">
                                    <i class="bi bi-pencil-square"></i> Editar
                                </button>
                                <button class="btn btn-sm btn-danger btn-action" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal" (click)="prepararEliminacion(employee._id)">
                                    <i class="bi bi-trash"></i> Eliminar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-modal-registro-edit-empleado (empleadoGuardado)="obtenerEmpleados()"></app-modal-registro-edit-empleado>
<app-modal-eliminar-empleado (empleadoEliminado)="obtenerEmpleados()"></app-modal-eliminar-empleado>