<app-sidebar></app-sidebar>

<div class="dashboard-container">
    <header class="dashboard-header">
        <h1>Panel del Bibliotecario</h1>
        <p>Bienvenido. Aquí puedes gestionar las operaciones principales de la biblioteca.</p>
    </header>

    <div class="cards-grid">
        <!-- Card Libros -->
        <div class="card">
            <div class="card-icon">
                <img src="assets/biblioIMG/crud.png" alt="a">
            </div>
            <h2>Libros</h2>
            <p>Gestión del inventario. Agrega, edita y visualiza la colección de libros disponibles en nuestra
                biblioteca.</p>
        </div>

        <!-- Card Multas -->
        <div class="card">
            <div class="card-icon">⚠️</div>
            <h2>Usuarios</h2>
            <p>Control de usuarios y sanciones</p>
        </div>

        <!-- Card Prestamos -->
        <div class="card">
            <div class="card-icon">
                <img src="assets/biblioIMG/prestamo.png" alt="a">
            </div>
            <h2>Préstamos</h2>
            <p>Solicitudes de clientes. Gestiona las peticiones para llevarse libros realizadas desde las tiendas
                físicas.</p>
        </div>
    </div>
</div>